.content{
    margin-left: 5%;
    margin-right: 5%;
}

.nav{
    margin-top: 1vh;
    width: 100%;
}

.nav-item{
    background-color:#008250;
    width: 23.5%;
    text-align: center;
    padding: 5px;
    margin-top:0px;
    margin-left:10px;
    margin-right:10px;
    
}

.nav-link{
    color:white;
}

.tfwa{
    height: 18vh;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 30px;
    float: left;
}

.apec{
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 30px;
    height: 18vh;
}

h1{
    color:white;
    margin-left: 40px;
    width: 25%;
    font-size: 30px;
}

h2{
    color:white;
    margin-left: 40px;
    font-size: 20px;
}

hr{
    background-color: white;
    height: 3px;
    width: 4%;
    margin-left: 40px;
}

h3{
    margin-left:0.5%;
    color: #008250;
}

p{
    margin-left:0.5%;
}

header{
    background-color: #008250;
}

.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #008250;
    color: white;
    text-align: center;

}

mark{
    background-color: #008250;
    color: white;
}